<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_KEY</key>
	<string>TYPE_YOUR_APP_KEY_HERE</string>
	<key>APP_SECRET</key>
	<string>TYPE_YOUR_APP_SECRET_HERE=</string>
	<key>LOG_LEVEL</key>
	<string>debug</string>
	<key>CACHE_DISK_SIZE_IN_MB</key>
	<integer>100</integer>
	<key>AUTOMATIC_PUSH_SETUP_ENABLED</key>
	<true/>
	<key>PROXIMITY_SERVICE_ENABLED</key>
	<true/>
</dict>
</plist>
